@import 'tailwindcss';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  color: azure;
  font-weight: 300; /* Light weight for body text */
}

/* Headings use heavier weights */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Bold weight for headings */
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%)
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 30s linear infinite;
  }

  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .animate-spin-reverse {
    animation: spin-reverse 30s linear infinite;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate(-50%, 10px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}